<h1>Book detail</h1>
<%= image_tag @books.user.get_profile_image(40,40) %>
<%= link_to "#{@books.user.name}", user_path(@books.user_id) %>
<%= link_to "#{@books.title}", book_path(@books) %>
<%= @books.body %>
<% if @books.user_id == current_user.id %>
  <%= link_to "Edit", edit_book_path(@books) %>
  <%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>

<!--共通テンプレ呼び出し/コントローラの変数注意-->
<%= render 'users/common', user: @user, book: @book %>